.prices {
  .price-discount-amount {
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .percent {
    background-color: var(--LessOrange);
    color: var(--Orange);
    width: 25px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: 5px 12px;
    border-radius: 5px;
  }
  .discount {
    text-decoration-line: line-through;
    color: var(GrayishBlue);
    padding: 0;
    margin-top: 0;
    opacity: 0.5;
  }
}
