.aligner {
  margin-top: 1em;
  width: 75%;

  padding: 0;
  .nav-parent {
    margin-top: 16px;
    font-family: "KumbhSans700";
    font-size: 16px;
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 10px;

    .nav-list {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 0;

      .nav-item:hover {
        cursor: pointer;
      }
      .nav-item {
        margin: 0px 1em;
        a.nav-link {
          text-decoration: none;
          color: inherit;
          padding: inherit;
          display: block;

          .activeLine {
            border-bottom: 4px solid var(--Orange);
            display: none;
            position: relative;
            top: 50px;
          }

          .activeLine.active {
            display: block;
          }
        }
      }

      .brand {
        margin-right: 30px;
        margin-left: 0;
      }
      list-style-type: none;
      .left-side {
        display: flex;

        .side-menu {
          position: absolute;
          background-color: var(--White);
          color: var(--Black);
          z-index: 10;
          width: 60%;
          left: -100%;
          display: block;
          top: 0;
          height: 100vh;

          transition: all 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
          .item {
            margin: 30px;
            color: var(--DarkGrayishBlue);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-weight: bold;
            cursor: pointer;
          }
        }
        .side-menu.active {
          opacity: 1;
          left: 0;
          z-index: 30;
          display: block;
        }
        .burger-menu {
          display: none;
        }
        @media screen and (max-width: 800px) {
          .burger-menu {
            display: block;
            cursor: pointer;
            margin: 2px;
            margin-left: 30px;
            margin-right: 16px;
          }
          .nav-content {
            display: none;
          }
        }
      }
      .right-side {
        display: flex;

        align-items: center;
        margin-right: 0;
        gap: 10px;
        .nav-img-cart {
          width: 1.3em;
          height: 1.3em;
        }
        .cart-length {
          background-color: var(--Orange);
          padding: 1px 6px;
          font-size: 8px;
          color: var(--White);
          bottom: 16px;
          right: 12px;
          position: relative;
          border-radius: 100px;
        }
        .nav-img-cart.active {
          filter: brightness(0%);
        }
        .avatar {
          width: 35px;
          height: 35px;
        }
        .avatar.active {
          border: 2px solid var(--Orange);
          margin: 2px;
          border-radius: 50%;
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    .nav-parent {
      margin-top: 0px;
    }
    .nav-hr {
      display: none;
    }
  }
}
@media screen and (max-width: 800px) {
  .aligner {
    width: 100%;
  }
}
